.Cell {
  height: 150px;
  width: 150px;
  background-color: darkgray;
  transition: background-color 0.5s ease;
  display: inline-block;
  border: 5px solid black;
}

.Cell-lit {
  background-color: aqua;
  transition: background-color 0.5s ease;

  border: 5px solid black;
}

@media (max-width: 820px) {
  .Cell {
    height: 100px;
    width: 100px;
  }
}

@media (max-width: 560px) {
  .Cell {
    height: 50px;
    width: 50px;
  }
}
