.btn.btn-primary.github,
.btn.btn-primary.linkedin,
.btn.btn-primary.email,
.btn.btn-primary.resume {
  background-color: rgba(192, 80, 255, 0);
  border-color: white;
  margin-bottom: 20px;
  width: 175px;
}

.btn.btn-primary.github:hover {
  background-color: #c050ff;
  border-color: #c050ff;
}

.btn.btn-primary.linkedin:hover {
  background-color: #43e0ff;
  border-color: #43e0ff;
}

.btn.btn-primary.email:hover {
  background-color: #00bd7b;
  border-color: #00bd7b;
}

.btn.btn-primary.resume:hover {
  background-color: #c050ff;
  border-color: #c050ff;
}

h1.active.contact {
  color: #43e0ff;
  font-family: Avenir;
  font-size: 50px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: -1.4px;
}
