.fa-github.link:hover {
  color: #c050ff;
  text-decoration: none;
}

.fa-linkedin.link:hover {
  color: #43e0ff;
  text-decoration: none;
}

.fa-envelope.link:hover {
  color: #00bd7b;
  text-decoration: none;
}

.fa-github {
  color: white;
}

.fa-linkedin {
  color: white;
}

.fa-envelope {
  color: white;
}

.Footer.hidden {
  display: none !important;
}

.Footer {
  position: fixed;
  left: 10px;
  bottom: 0;
}

.fas.fa-file.link {
  color: white;
}

.fas.fa-file.link:hover {
  color: #c050ff;
  text-decoration: none;
}
