.WorkInfo {
  margin-bottom: 250px;
}

@media (max-width: 1200px) {
  .WorkInfo {
    margin-bottom: 200px;
  }
}

@media (max-width: 960px) {
  .WorkInfo {
    margin-bottom: 150px;
  }
}

@media (max-width: 768px) {
  .WorkInfo {
    margin-bottom: 100px;
  }
}

@media (max-width: 480px) {
  .WorkInfo {
    margin-bottom: 50px;
  }
}

@media (max-width: 320px) {
  .WorkInfo {
    margin-bottom: 50px;
  }
}
